<div class="infoDiv">
    <p *ngIf="firstNumber">First Number: </p><p class="title">{{firstNumber}}</p>
</div>
<div class="infoDiv">
    <p *ngIf="secondNumber">Second Number: </p><p class="title">{{secondNumber}}</p> 
</div>
<div class="infoDiv">
    <p *ngIf="firstAddress">Residence: </p><p class="title">{{firstAddress}}</p>
</div>
<div class="infoDiv">
    <p *ngIf="secondAddress">Service Address: </p><p class="title">{{secondAddress}}</p>
</div>
<div class="infoDiv">
    <p *ngIf="email">Email: </p><p class="title">{{email}}</p>
</div>